#clock {
    text-align: center;
}

#clock img {
    position: fixed;
}

#hour {
    
    position: relative;
    
}

#minute {
    
    position: relative;
    
}

#second {
    
    position: relative;
}

